.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* *Shared Style */
body {
  cursor: all-scroll;
}

.text-center {
  text-align: center;
}

.secondary-bg {
  background-color: #fff8f3;
}

.text-primary {
  color: #fd6e0a;
}
.dark-2 {
  color: #474747;
}
.btn-primary {
  color: white;
  background-color: #fd6e0a;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  padding: 18px 36px;
}

.section-title {
  font-size: 35px;
  color: black;
  font-weight: bold;
}

.section-description {
  font-size: 18px;
  color: #757575;
}

/* *Shared style End */

/* # Header Style Start  */

.header {
  background-image: url("../images/developer.png"),
    url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}

/* # Header Style End */

/* *Nav style start */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 200px;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin-right: 51px;
}

nav li a {
  text-decoration: none;
  font-size: 20px;
}

.nav-title {
  font-weight: 800;
  font-size: 45px;
}

/* * navbar end */

/* * banner style start */

.banner {
  display: flex;
  justify-content: space-between;
  margin: 0 38px 0 200px;
}
.banner-greet {
  font-weight: 600;
  font-size: 45px;
}
.banner-container {
  max-width: 584px;
}
.banner-title {
  font-size: 85px;
  font-weight: 700;
}

.banner-description {
  font-size: 18px;
  color: #757575;
}

.banner-profile-pic {
  width: 584px;
}

/* *banner style end */

/* ! main tag style  */
main {
  max-width: 1140px;
  margin: 0 auto;
}

main section {
  margin-top: 130px;
  margin-bottom: 130px;
}

/*  About Style Start */
.about-items {
  display: flex;
  justify-content: space-around;
}
.about {
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
}

.about-bg {
  background-color: #ffffff;
}
.item-description {
  font-weight: 700;
}
/*  About Style End */

/* Skills section styles start */

.skills-container {
  display: flex;
  gap: 24px;
}
.skill {
  padding: 30px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}
.skill-description {
  font-size: 18px;
  color: #757575;
  padding-bottom: 30px;
}
.skill-title {
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* Skills section styles End */

/* * resume section styles start */

.resume-column-title {
  font-size: 30px;
  font-weight: 700;
}
.resume-container {
  display: flex;
  gap: 25px;
}
.experience-description {
  font-size: 16px;
  color: #757575;
  margin-bottom: 30px;
}
.experience-subtitle {
  font-size: 20px;
  font-weight: 400;
  color: #757575;
  margin-bottom: 20px;
}
.experience-title {
  font-size: 25px;
  font-weight: 700;
  color: #474747;
  margin-bottom: -10px;
}
.resume hr {
  margin: 30px 0;
}
.resume-btn {
  margin-top: 30px;
}
/* * resume section styles End */

/* # Footer section Start */
footer {
  padding: 130px 230px;
  display: flex;
  gap: 117px;
}
.footer-column{
  width: 50%;
}
.footer-img a > img{
  margin-right: 24px;
}
/* # Footer section End */
